*{margin:0;padding:0;}
body{
	background: #EBEBEB;
	 background: rgb(235,235,235);
}
header{
	width:100%;
	padding:50px;
	background: #222222;
}
header h1{
	color:#FFFFFF;
}
.main{
	width:100%;
}
.left_side{
	width:24%;
	margin:50px 3% 50px 3%; 
	float: left;
	/*background: #FFF;*/
}
.right_side{
	width:67%;
	margin:50px 3% 50px 0;
	float: right;
	background:#FFF;
	margin-bottom: 150px;
	padding: 30px 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
input[type='text']{
	width:50%;
	line-height: 30px;
	font-size: 18px;
	font-weight:bold;
	color:#101010;
	background: #FAFAFA;
	padding: 10px;
	height:50px;
	border: 1px solid #ccc;
}
textarea{
	width:100%;
	height:350px;
	padding: 10px;
	font-size: 15px;
	background: #FAFAFA;
	border: 1px solid #ccc
}

/*文章管理独立样式*/
table{
	width:100%;
	text-align: center;
}
table tr{
	border-bottom: 1px solid #ADADAD;
	line-height: 25px;
}
table tr:first-child {
	color:#080808;
	font-size: 18px;
}

.page{clear: both;text-align: center;margin-bottom: 50px;}

/*文章管理独立样式结束*/

/*评论列表独立样式*/
.commlist_content{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

footer{
	width:100%;
	text-align: center;
	background: #080808;
	color:#FFFFFF;
	padding:30px;
	clear: both;
}


