
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,h2,h3,h4{
	color:#080808;
	text-decoration:none;
}
.wrap{
	width:100%;
}
*{margin:0;padding:0;}
body {
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
    font-size: 15px;
    line-height: 1.428571;
    color:#ccc;
    background: rgb(235,235,235);
}


.banner_box{
	width:100%;
	max-height:280px;
	overflow: hidden;
	}
.banner_box img{
	width:100%;
	height:auto;
	}
.navbar,.navbar-inverse{
	border: none;
	border-radius: 0;
	padding-left:3%;
	-webkit-box-shadow:0 3px 4px rgba(0, 0, 0, 0.01) , 0 0 40px rgba(0, 0, 0, 0.1) ;
	-moz-box-shadow:0 3px 4px rgba(0, 0, 0, 0.01), 0 0 40px rgba(0, 0, 0, 0.1) ; 
	box-shadow:0 3px 4px rgba(0, 0, 0, 0.01), 0px 0px 40px rgba(0, 0, 0, 0.1) ;
	}
.navbar-inverse{
	background:rgb(27,23,23);/* background-image:url(../images/bg.png) */
	}



/* -----------------第一部分，图片展示----------------------------- */

.body_left{
	width:90%;
	margin:30px 2% 0 5%;
	float:left;
	}
.body_left>div{
	width:100%;
	height:auto;
	padding:30px 50px 50px 50px ;
	margin-bottom:30px;
	}

.content_1 h4,ul li,a{
	color:#F8F8F8;
	list-style: none;
}
.siderbar a{color: #666;}

.content_1{
    width: 980px;
    padding: 0;
    position: relative;
    margin-left: 6%;

}

.pic1{
    width: 980px;
    height: 454px;
}
.pic1_con{
    display: block;
    position: relative;
}
.pic1  ul{
    list-style: none;
}
.pic1  li{
    float: left;
    margin: 0 1px 1px 0;
    position: absolute;
    overflow: hidden;
    display: block;
    list-style: none;
}
.pic1_3{
    background-color: #9bcd46;
}
.pic1_4{
    background-color: #41b9f5;
}
.pic1_5{
    background-color: #ff9900;
}

.pic1 li.pic1_3,li.pic1_4{
    width: 279px;
    height: 225px;
}

.pic1 li.pic1_5{
    width: 419px;
    height: 112px;
}


.pic1 li.pic1_3 h3 {
    padding: 15px 30px 0 20px;
    font: normal 36px/40px \5FAE\8F6F\96C5\9ED1;
    text-decoration:none;
    color: #000;
}
.pic1 li.pic1_3 p {
    padding: 12px 20px 0 20px;
    font: normal 14px/20px \5FAE\8F6F\96C5\9ED1;
    color: #000;
}

.pic1 li.pic1_4 h3 {
    padding: 15px 30px 0 20px;
    font: normal 36px/40px \5FAE\8F6F\96C5\9ED1;
    text-decoration:none;
    color: #000;
}
.pic1 li.pic1_4 p {
    padding: 12px 20px 0 20px;
    font: normal 14px/20px \5FAE\8F6F\96C5\9ED1;
    color: #000;
}

.pic1 li.pic1_5 h3 {
    padding: 0px 30px 0 20px;
    font: normal 36px/40px \5FAE\8F6F\96C5\9ED1;
    text-decoration:none;
    color: #000000;
}
.pic1 li.pic1_5 p {
    padding: 0px 20px 0 20px;
    font: normal 14px/20px \5FAE\8F6F\96C5\9ED1;
    color: #000;
}


.size{
    width: 279px;
    height: 225px;
}
.size1{
    width: 419px;
    height: 116px;
}
.size2{
    width: 419px;
    height: 225px;
}

.zoom{
	display:block;
	position:relative;
	overflow:hidden;
	background:#fff url(../images/loader.gif) no-repeat center;
}

.zoomOverlay{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:none;
	background-image:url(../images/zoom.png);
	background-repeat:no-repeat;
	background-position:center;
}


/* -----------------部分二，轮播----------------------------- */

.content_2{
    width: 980px;
    padding: 0;
    position: relative;
    margin-left: 6%;
}

.yueli{
    height: 48px;
    margin-bottom: 30px;
    border-bottom: 1.5px solid #d6d6d6;

}

.yueli strong a{
    padding: 0 14px;
    color: #9D9D9D

}

.yueli strong{
    position: relative;
    float: left;
    height: 48px;
    margin-bottom: -2px;
    border-bottom: 3px solid #5B5B5B;
    font: normal 28px/48px \5FAE\8F6F\96C5\9ED1;
}

.container{
    width: 980px;
}

.flexiselDemo3 {
	display: none;
}

.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin:2em auto 0 auto;
}
.nbs-flexisel-item {
	float: left;
  width: 312px!important;
  padding: 0px;
  position: relative;
  margin: 0 10px;
  text-align: left;
}


/* -----------------旅游景点----------------------------- */

.content_3{
    width: 980px;
    padding: 0;
    position: relative;
    margin-left: 6%;
}

.content_3_1{
    height: 310px;
    overflow: hidden;
}

.content_3_1 ul{
    list-style: none;
}

.content_3_1 .bi-list3 li.first {
    width: 335px;
    height: 318px;
}

.content_3_1 .bi-list3 li {
    width: 201px;
    height: 159px;
    margin: 0 14px 0 0;
    position: relative;
    float: left;
    overflow: hidden;
}

.bi-list {
    margin-right: -17px;
    overflow: hidden;
}


.content_3_1 .bi-list3 li h3 {
    bottom: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    padding: 0 6px;
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0 !important;
    filter: Alpha(opacity=60);
    background: #000;
    font: normal 18px/30px \5FAE\8F6F\96C5\9ED1;
    color: #fff;
    z-index: 3;
    overflow: hidden;
    
}

.content_3_1 .bi-list3 .like{
    height: 22px;
    font: 12px/22px \5B8B\4F53;
    color: #666;
    text-align: right;
}

.content_3_1 .bi-list3 img:hover{
    opacity:0.6;
}
.content_3_1 .bi-list3 img{
    transition:all 0.3s
}

@media screen and (min-width:768px) and (max-width: 1100px){
	.navbar,.navbar-inverse{border: none;border-radius: 0;padding-left:22px;}
	.body_left{width:96%;margin:30px 2% 0 2%;}
	.body_left>div{width:100%;background: #fff;padding:50px;margin-bottom:30px;}
	.body_right{width:96%;margin:0 2%;}
	.body_right>div{width:100%;height:auto;background:#fff;margin-bottom:30px}
	.footer_main{width:100%;padding:50px;background:rgb(32,32,32);}
	body{overflow-x:hidden}
	.footer_box{width:100%;}
	.hover_wechat:hover figcaption{display: none;}
	.siderbar{opacity: 0.5;transition: opacity 0.3s ease;}
	.siderbar:hover{opacity: 1;}
}


@media screen and (min-width:480px) and (max-width: 767px){
	.navbar,.navbar-inverse{border: none;border-radius: 0;padding-left:0;}
	.footer_box{width:100%;height:auto;margin:0 auto;}
	.footer_main{width:100%;padding:30px;background:rgb(32,32,32);}
	body{overflow-x:hidden}
	.copyright{display: none;}
	.footer_box{width:100%;}
	.hover_wechat:hover figcaption{display: none;}
	.hover_wechat:hover figcaption{display: none;}
	.siderbar{opacity: 0.4;transition: opacity 0.3s ease;}
	.siderbar:hover{opacity: 1;}
	.footer_box>ul{display: none;}
	.footer_main .sm_footer{display: block;padding-bottom: 10px;}
	.footer_main .sm_footer ul{width:80%;height: auto;background: #333;margin :0 auto;}
	.footer_main .sm_footer ul li{float: left;width:33%;list-style: none;text-align: center;}
	.footer_main .sm_footer ul li a{color:#F1F1F1;font-size:1.1em;line-height: 15px;font-family: "微软雅黑";}
	.feed_box{width:100%;}
}



