<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<link rel="stylesheet" href="./css/backstage.css">
</head>
<body>
    <header>
        <h1>后台管理系统</h1>
    </header>
    <div class="main">
        <div class="left_side">
            <div class="panel-group" id="accordion"><!--大容器-->
		    <div class="panel panel-default"><!--第一个面板-->
		        <div class="panel-heading"><!--标题-->
		            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">我的文章</a></h4>
		            <!--上面的a标签的锚点和内容面板的ID要一样-->
		        </div>
		        <div id="collapseOne" class="panel-collapse collapse in"><!--面板内容-->
		            <div class="panel-body"><a href="artlist.php">文章列表</a></div>
		            <div class="panel-body"><a href="artadd.php">添加文章</a></div>
		            <div class="panel-body">评论列表</div>
		        </div>
		    </div>
		    
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">相关链接</a></h4>
		        </div>
		        <div id="collapseTwo" class="panel-collapse collapse">
		            <div class="panel-body"><a href="index.php">返回首页</a></div>
		        </div>
		    </div>
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            <h4 class="panel-title"><a data-toggle="collapse"data-parent="#accordion"href="#collapseThree">个人中心</a></h4>
		        </div>
		        <div id="collapseThree" class="panel-collapse collapse">
		        	<div class="panel-body"><a href="advise.php">意见反馈</a></div>
		            <div class="panel-body"><a href="logout.php">退出登录</a></div>
		        </div>
		    </div>
		</div>
        </div>
        <div class="right_side">
            <table>
                <tr>
                    <td>编号</td>
                    <td>日 期</td>
                    <td>昵 称</td>
                    <td>email</td>
                    <td>评论内容</td>
                    <td>操 作</td>
                </tr>
                <?php foreach($comms as $a) {?>
                <tr>
                    <td><?php echo $a['comment_id'];?></td>
                    <td><?php echo date('Y/m/d', $a['pubtime']);?></td>
                    <td><a href="#"><?php echo $a['nick'];?></a></td>
                    <td><?php echo $a['email'];?></td>
                    <td><span class="badge commlist_content"><?php echo $a['content'];?></span></td>
                    <td>
                        <a href="commdel.php?comment_id=<?php echo $a['comment_id'];?>">删除</a>
                    </td>
                </tr>
                <?php }?>
            </table>
        </div>
        <section class="page">			
			<ul class="pagination pagination-sm">
				<li><a href="commlist.php">&laquo;第一页</a></li>
				<?php foreach($page as $k=>$v){?>
					<?php if($k==$curr){?>
						<li class="active"><a><?php echo $k;?></a></li>
					<?php }else{?>
						<li><a href="commlist.php?<?php echo $v;?>"><?php echo $k;?></a></li>
					  <?php }?>
				<?php }?>
				<li class="disabled"><a href="#">最后一页&raquo;</a></li>
			</ul>
		</section>
    </div>
    <footer>
        Copyright &copy; 2016 · GeneratePress · WordPress
    </footer>
</body>
</html>