<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=width-device,initial-scale=1,user-scalable=no">
	<title>关于自己</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
 	<link rel="stylesheet" href="css/normalize.min.css">
 	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<link rel="stylesheet" type="text/css" href="css/about.css"/>	
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
 	<script src="js/vendor/jquery.hashchange.min.js"></script>
    <script src="js/vendor/jquery.easytabs.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/js.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="banner_box" id="imgBox">		
			<img src="images/banner05.jpg">
			<div class="logo"><span><i class="fa-angellist"></i></span></div>
		</div>
		<!-- 导航栏 -->
		<div class="navbar navbar-inverse " role="navigation" id="nav">
			  <div class="navbar-header">
			     　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
			       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			         <span class="sr-only">Toggle Navigation</span>
			         <span class="icon-bar"></span>
			         <span class="icon-bar"></span>
			         <span class="icon-bar"></span>
			       </button>
			       <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
			        <a href="##" class="navbar-brand">MyBlog</a> 
			  </div>
			  <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
			  <div class="collapse navbar-collapse navbar-responsive-collapse">
			    	<ul class="nav navbar-nav">
			      		<li><a href="index.php">微日志</a></li>
			      		<li><a href="friends.php">生活圈</a></li>
			      		<li class="active"><a href="javascript:;">关于自己</a></li>
				 	</ul>
			  </div>
		</div>
		<!-- 导航栏结束 -->
		<!-- 主体部分 -->
		<article>
		
			<section class="body_left">
				<div class="art_main">	
	                
	                <div class="main-container">
    <div class="main wrapper clearfix">
      <!-- Header Start -->
        <header id="header">
            <div id="logo">
                <h2>
                     赵子龙
                </h2>
                <h4>
                    软件工程师 / 摄影师
                </h4>
            </div>
        </header>
        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a href="#about"><i class="icon-user"></i><span> 基本信息</span></a>
                </li>
                <li class='tab'>
                  <a href="#resume"><i class="icon-file-text"></i><span> 工作经历</span></a>
                </li>
                <li class='tab'>
                  <a href="#portfolio"><i class="icon-heart"></i><span> 个人照片</span></a>
                </li>
                <li class='tab'>
                  <a href="#contact"><i class="icon-envelope"></i><span> 联系方式</span></a>
                </li>
            </ul>
            
          <!-- End Tab List -->
            <div id="tab-data-wrap">
              <!-- About Tab Data -->
                <div id="about">
                    <section class="clearfix">
                        <div class="g2">
                            <div class="photo">
                                <img src="images\pic1_head.jpg">
                            </div>
                            <div class="info">
                                <h2>
                                    赵子龙
                                </h2>
                                <h4>
                                    软件工程师 / 摄影师
                                </h4>
                                <p>
                                    座右铭：人生的道路不会一帆风顺，事业的征途也充满崎岖艰险，只有奋斗，只有拼搏，才会达到成功的彼岸。
                                </p>
                                

                            </div>
                        </div>
                        <div class="g1">
                            <div class="main-links sidebar">
                                <ul>
                                    <li>
                                        <a href="#resume">我的工作经历</a>
                                    </li>
                                    <li>
                                        <a href="#portfolio">我的个人照片</a>
                                    </li>
                                    <li>
                                        <a href="#contact">联系方式</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="break"></div>
                        <div class="contact-info">
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-envelope"></i>
                              <div class="item-data">
                                <p><a href="">757559132@qq.com</a></p>
                                <p>E-mail</p>
                              </div>
                            </div>
                          </div>
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-facebook"></i>
                              <div class="item-data">
                                <p><a href="">luthra.子龙</a></p>
                                <p>Facebook</p>
                              </div>
                            </div>
                          </div>
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-twitter"></i>
                              <div class="item-data">
                                <p><a href="">@ZiLong</a></p>
                                <p>Twitter</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section><!-- content -->
                </div>
              <!-- End About Tab Data -->
              <!-- Resume Tab Data -->
                <div id="resume">
                    <section class="clearfix">
                        <div class="g2">
                            <h3>
                                工作经历
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5>
                                        技术支持工程师
                                    </h5><span class="label label-info">2009-2010</span>
                                    <p>
                                        1.负责产品售前、售后技术支持</br>
										2.负责销售渠道和用户的技术培训</br>
										3.负责产品技术文档的翻译工作 
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                    	系统工程师
                                    </h5><span class="label label-info">2010-2011</span>
                                    <p>
                                       在职期间主要负责对管理系统的升级，业务的分析和整理。与SA一起完成系统分析工作和制定技术方案。 根据客户的需求文档进行分析，提出解决方案，并快速完成任务。
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        系统工程的技术总监
                                    </h5><span class="label label-info">2011-2012</span>
                                    <p>
                                        工作业绩： 主持开发了如下网络系统工程的技术支持方案：</br>
                                        1、华东大学国家图象重点试验室网络工程</br>
										2、国际展览中心网络系统工程</br>
										3、商业银行网络改造工程 
                                    </p>
                                </li>
                            </ul>
                            <h3>
                                学习历练
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5>
                                        清华大学
                                    </h5><span class="label label-success">2001-2002</span>
                                    <p>
                                        曾担任计算机协会会长，学生会 主席。
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                    	哈佛大学（Harvard University）
                                    </h5><span class="label label-warning">2002-2008</span>
                                    <p>
                                        参加多次社会实践。
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="g1">
                            <div class="sidebar">
                                <h3>
                                    技能 +
                                </h3>
                                <h5>
                                    软件
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 33.3%"><span>Photoshop</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 90%"><span>Illustrator</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 60%"><span>InDesign</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 40%"><span>Firework</span></span>
                                </div>
                                <div class="meter midnight">
                                    <span style="width: 70%"><span>Dreamweaver</span></span>
                                </div>
                                <div class="meter pomengrate">
                                    <span style="width: 60%"><span>Microsoft Office</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 65%"><span>Linux</span></span>
                                </div>
                                <div class="break"></div>
                                <h5>
                                    设计
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 33.3%"><span>User Interface</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 90%"><span>Typography</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 60%"><span>Web Applications</span></span>
                                </div>
                                <div class="break"></div>
                                <h5>
                                    程序语言
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 53.3%"><span>HTML/CSS</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 80%"><span>PHP/MySql</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 95%"><span>jQuery/JavaScript</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 75%"><span>Ruby</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 82%"><span>Python</span></span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
              <!-- End Resume Tab Data -->
              <!-- Portfolio Tab Data -->
                <div id="portfolio">
                    <section class="clearfix">
                        <div class="g1">
                            <div class="image">
                                <img src="images/photo1.jpg" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="images/photo1.jpg" class="btn">点击看大图</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="images/photo2.jpg" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="images/photo2.jpg" class="btn">点击看大图</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="images/photo3.jpg" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="images/photo3.jpg" class="btn">点击看大图</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="break"></div>
                        <div class="g1">
                            <div class="image">
                                <img src="images/photo4.jpg" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="images/photo4.jpg" class="btn">点击看大图</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="images/photo5.jpg" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="images/photo5.jpg" class="btn">点击看大图</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="images/photo6.jpg" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="images/photo6.jpg" class="btn">点击看大图</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </section>
                </div>
              <!-- End Portfolio Data -->
              <!-- Contact Tab Data -->
                <div id="contact">
                    <section class="clearfix">
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-globe"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>住&nbsp;&nbsp;&nbsp;&nbsp;址</h4>
                              <p>广东省广州市白云区</br>江高镇环镇西路155号</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-phone"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>电&nbsp;&nbsp;&nbsp;&nbsp;话</h4>
                              <p>999-9999-999<br/>999-1112-999</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-user"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>关&nbsp;&nbsp;&nbsp;&nbsp;于</h4>
                              <p>我是一个工作狂，有点内向，我只是一封电子邮件</p>
                            </div>
                         </div>
                       </div>
                       <div class="break"></div>
                       
                    </section>
                </div>
              <!-- End Contact Data -->
            </div>
        </div>
    </div><!-- #main -->
</div><!-- #main-container -->
				 
				</div>
 			</section>

		</article>
		
		 <!-- 底部部分 -->
		<footer>
			<section class="footer_main">
				<div class="footer_box">
					<ul>
						<li><a href="index.php" >网站首页</a></li>
						<li><a href="feedback.php#contact" target="_blank">联系我们</a></li>
						<li><a href="feedback.php#about" target="_blank">关于我们</a></li>
						<li><a href="feedback.php#advise" target="_blank">意见反馈</a></li>							
					</ul>
					<ul>
						<li class="hover_qq">
							<a href="http://t.qq.com/gzevergrandefbc" target="_blank"><i class="fa-qq"></i></a>
						</li>
						<li class="hover_wechat">
							<figcaption class="wechat">
								<img src="./images/wechat.jpg" />
								<p style="line-height: 12px;font-size: 12px;margin:5px">扫描二维码 </p>
								<p style="line-height: 12px;font-size: 12px;margin:5px 0 3px">关注微信公众号</p>
							</figcaption>
							<a href="##" ><i class="fa fa-wechat"></i></a>
						</li>
						<li class="hover_weibo">
							<a href="http://weibo.com/gzevergrandefc" target="_blank"><i class="fa fa-weibo"></i></a>
						</li>
					</ul>					
				</div>
				<div class="copyright">
					<p>Copyright © 2016 localhsot.com All Rights Reserved</p>
				</div>
				<div class="sm_footer">
					<ul>
						<li><a href="index.php">首页</a></li>
						<li><a href="feedback.php#about">关于</a></li>
						<li><a href="feedback.php#advise">吐槽</a></li>
					</ul>
				</div>
			</section>
		</footer>
		
		<div class="siderbar">
			<p id="back_top"><a title="回到顶部"><i class="fa fa-chevron-up"></i></a></p>
			<p><a href="feedback.php" target="_blank" title="联系我们"><i class="fa fa-envelope-o"></i></a></p>
			<p><a href="feedback.php" target="_blank" title="问题反馈"><i class="fa-pencil-square-o"></i></a></p>
		</div>
	</div>
</body>
</html>