<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=width-device,initial-scale=1,user-scalable=no">
	<title>friends</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<link rel="stylesheet" type="text/css" href="css/friends.css"/>
	<script src="js/js.js"></script>

	<script src="js/jquery.min.js"></script>
	<script src="js/fangda.js"></script>
     <script>
        $(function() {        
            $('#blue').hoverZoom(); 

            $('#blue1').hoverZoom(); 
            
            $('#green').hoverZoom({
                overlayColor: '#90bd2e',
                zoom: 50
            });

            $('#orange').hoverZoom({
                overlayColor: '#fbbf23',
                zoom: 50
            });
            
            $('#orange2').hoverZoom({
                overlayColor: '#fbbf23',
                zoom: 20
            });
        }); 
    </script>
</head>
<body>
	<div class="wrap">
		<div class="banner_box" id="imgBox">		
			<img src="images/banner04.jpg">
			<div class="logo"><span><i class="fa-angellist"></i></span></div>	
		</div>
		<!-- 导航栏 -->
		<div class="navbar navbar-inverse " role="navigation" id="nav">
			  <div class="navbar-header">
			     　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
			       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			         <span class="sr-only">Toggle Navigation</span>
			         <span class="icon-bar"></span>
			         <span class="icon-bar"></span>
			         <span class="icon-bar"></span>
			       </button>
			       <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
			        <a href="##" class="navbar-brand">MyBlog</a>
			  </div>
			  <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
			  <div class="collapse navbar-collapse navbar-responsive-collapse">
			    	<ul class="nav navbar-nav">
			      		<li><a href="index.php">微日志</a></li>
			      		<li  class="active"><a href="friends.php">生活圈</a></li>
			      		<li><a href="about.php">关于自己</a></li>
				 	</ul>
			  </div>
		</div>
		<!-- 导航栏结束 -->
		<!-- 主体部分 -->
		<article>
		<!-- 中间图片矩形排布 -->
			<section class="body_left">
				<div class="art_main">	
	                <div class="content_1">
	                <div class="yueli">
					  	 <strong class="title"><a>我的朋友圈</a></strong> </h2>
					</div>
				      <div class="pic1">
				          <ul class="pic1_con">
				               <li style="left:0px;top:0px"><a class="size zoom" id="green"><img src="images/pic1.jpg"></a></li>
				               <li class="pic1_3" style="left:0px;top:226px">
				               <h3>
				               	   <a>浪漫 蜜月婚礼</a>
				               </h3>
				               <p>
				               	   <a>近年来在泰国举行的婚礼。在普吉岛依然能举行超美的目的地婚礼。非常值得留念！！珍惜与你们的友谊！</a>
				                   <a>[详细]</a>
				               </p>
				               </li>
				               <li style="left:280px;top:226px"><a class="size zoom" id="blue1"><img src="images/pic3.jpg"></a></li>
				               <li class="pic1_4 " style="left:700px;top:0px">
				               <h3>
				               	   <a>绝美 热带海岛</a>
				               </h3>
				               <p>
				               	   <a>如梦如幻的蓝天白云、绵长迷人的海岸线、柔软洁白的沙滩、宁静碧蓝的海水、婀娜摇曳的椰林、色彩斑斓的热带海鱼……更重要的是能够与知己一起欣赏！！！超赞！</a>
				                   <a>[详细]</a>
				               </p>
				               </li>
				               <li class="hover" style="left:560px;top:226px"><a class="size1 zoom" id="orange2"><img src="images/pic4.jpg"></a></li>
				               <li class="pic1_5 " style="left:560px;top:339px">
				               <h3>
				               	   <a>阳光 记录微笑</a>
				               </h3>
				               <p>
				               	   <a>不约而同地约在一起，大家能在百忙之中抽出时间。</a>
				                   <a>[详细]</a>
				               </p>
				               </li>
				               <li style="left:280px;top:0px"><a class="size2 zoom" id="blue"><img src="images/pic2.jpg"></a></li>
				          </ul>
				      </div>
				  </div>
				</div>
				
				
 			</section>

			<!-- 中间图片轮播 -->
 			<section class="body_left">
				<div class="art_main">	
	                <div class="content_2">
					      <div class="yueli">
					  	 	 <strong class="title"><a>生活点滴</a></strong> </h2>
					  	  </div>
					  	  <div>
					  	  	<ul id="flexiselDemo3">
									<li>
										<div class="biseller-column">
												<a ><img src="images/month6.jpg" alt=""/></a>
										</div>
									</li>
									<li>
										<div class="biseller-column">
												<a ><img src="images/month7.jpg" alt=""/></a>
										</div>
									</li>
									<li>
										<div class="biseller-column">
												<a ><img src="images/month89.jpg" alt=""/></a>
										</div>
									</li>
									<li>
										<div class="biseller-column">
												<a ><img src="images/month10.jpg" alt=""/></a>
										</div>
									</li>
									<li>
										<div class="biseller-column">
												<a ><img src="images/month11.jpg" alt=""/></a>
										</div>
									</li>
									<li>
										<div class="biseller-column">
												<a ><img src="images/month12.jpg" alt=""/></a>
										</div>
									</li>
									
						    </ul>
						    <script type="text/javascript">
									 $(window).load(function() {
										$("#flexiselDemo3").flexisel({
											visibleItems:3,
											animationSpeed: 1000,
											autoPlay: true,
											autoPlaySpeed: 4000,    		
											pauseOnHover: true,
											enableResponsiveBreakpoints: true,
									    	responsiveBreakpoints: { 
									    		portrait: { 
									    			changePoint:480,
									    			visibleItems:3
									    		}, 
									    		landscape: { 
									    			changePoint:640,
									    			visibleItems:3
									    		},
									    		tablet: { 
									    			changePoint:768,
									    			visibleItems:3
									    		}
									    	}
									    });
									    
									});
								   </script>
								   <script type="text/javascript" src="js/jquery.flexisel.js"></script>
					  	  </div>
					  </div>
				</div>
				
				
 			</section>

 			<!-- 下面旅游地点 -->
			<section class="body_left">
				<div class="art_main">	
	                <div class="content_3">
      <div class="yueli">
  	 	 <strong class="title"><a>旅游达人</a></strong></h2>
  	  </div>
      <div class="content_3_1">
          <ul class="bi-list bi-list3">
          	  <li class="first">
          	      <h3 style="display: block;"><span>布吉岛</span></h3>
          	      <a title="布吉岛旅游" target="_blank" href="">
          	         <img src="images/pic5.jpg" width="335" height="288" alt="" title="">
          	      </a>
          	      <p class="like">日期：2016-11-04</p>
          	  </li>
          	  <li class="">
          	      <h3 style="display: block;"><span>苏梅岛</span></h3>
          	      <a title="苏梅岛旅游" target="_blank" href=""><img src="images/pic6.jpg"></a>
          	      <p class="like">日期：2015-9-24</p>
          	  </li>
          	  <li>
                    <h3 style="display: block;"><span>芭堤雅</span></h3>
                    <a title="芭堤雅旅游" target="_blank" href="">
                    	<img src="images/pic7.jpg" width="201" height="129" alt="" title="">
                    </a>
                    <p class="like">日期：2014-4-15</p>
			  </li>
			  <li>
                    <h3 style="display: block;"><span>大皇宫</span></h3>
                    <a title="大皇宫旅游" target="_blank" href="">
                    	<img src="images/pic8.jpg" width="201" height="129" alt="" title="">
                    </a>
                    <p class="like">日期：2013-5-26</p>
			  </li>
			  <li>
                    <h3 style="display: block;"><span>恰图恰周末市场</span></h3>
                    <a title="恰图恰周末市场旅游" target="_blank" href="">
                    	<img src="images/pic9.jpg" width="201" height="129" alt="" title="">
                    </a>
                    <p class="like">日期：2012-12-19</p>
				</li>
				<li>
                    <h3 style="display: block;"><span>四面佛</span></h3>
                    <a title="四面佛旅游" target="_blank" href="">
                    	<img src="images/pic10.jpg" width="201" height="129" alt="" title="">
                    </a>
                    <p class="like">日期：2011-3-04</p>
				</li>
				<li>
                    <h3 style="display: block;"><span>皮皮岛</span></h3>
                    <a title="皮皮岛旅游" target="_blank" href="">
                    	<img src="images/pic11.jpg" width="201" height="129" alt="" title="">
                    </a>
                    <p class="like">日期：2010-9-04</p>
				</li>
          </ul>
      </div>
  </div>
				</div>
 			</section>
			
		</article>
		
		 <!-- 底部部分 -->
		<footer>
			<section class="footer_main">
				<div class="footer_box">
					<ul>
						<li><a href="index.php" >网站首页</a></li>
						<li><a href="feedback.php#contact" target="_blank">联系我们</a></li>
						<li><a href="feedback.php#about" target="_blank">关于我们</a></li>
						<li><a href="feedback.php#advise" target="_blank">意见反馈</a></li>							
					</ul>
					<ul>
						<li class="hover_qq">
							<a href="http://t.qq.com/gzevergrandefbc" target="_blank"><i class="fa-qq"></i></a>
						</li>
						<li class="hover_wechat">
							<figcaption class="wechat">
								<img src="./images/wechat.jpg" />
								<p style="line-height: 12px;font-size: 12px;margin:5px">扫描二维码 </p>
								<p style="line-height: 12px;font-size: 12px;margin:5px 0 3px">关注微信公众号</p>
							</figcaption>
							<a href="##" ><i class="fa fa-wechat"></i></a>
						</li>
						<li class="hover_weibo">
							<a href="http://weibo.com/gzevergrandefc" target="_blank"><i class="fa fa-weibo"></i></a>
						</li>
					</ul>					
				</div>
				<div style="width:1100px; margin: 0 auto;">
					<p class="copyright">Copyright © 2016 localhsot.com All Rights Reserved</p>
				</div>
				<div class="sm_footer">
					<ul>
						<li><a href="index.php">首页</a></li>
						<li><a href="feedback.php#about">关于</a></li>
						<li><a href="feedback.php#advise">吐槽</a></li>
					</ul>
				</div>
			</section>
		</footer>
		
		<div class="siderbar">
			<p id="back_top"><a title="回到顶部"><i class="fa fa-chevron-up"></i></a></p>
			<p><a href="feedback.php" target="_blank" title="联系我们"><i class="fa fa-envelope-o"></i></a></p>
			<p><a href="feedback.php" target="_blank" title="问题反馈"><i class="fa-pencil-square-o"></i></a></p>
		</div>
	</div>
</body>
</html>